* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

body {
   font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.content {
   flex: 1 1 auto;
}

.hi {
   background-color: #445162;
   padding: 50px 0;
}

.container {
   max-width: 1180px;
   margin: 0 auto;
}

.hi__row {
   display: flex;
   justify-content: space-between;
}

.hi__body {
   color: #f5f5f5;
}

.img {
   margin: 0 100px 0 0;
}

.hi__title {
   font-size: 60px;
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 00.3px);
   margin: 0 0 30px 0;
}



.hi__list li {
   background: url(../img/icons/icon.png) left no-repeat;
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
   margin: 0px 0px 15px 0px;
   padding: 0px 0px 0px 36px;
   font-size: 20px;
}

.hi__list li:last-child {
   margin: 0;
}

.hi__list li:hover {
   transition-duration: 1s;
   font-size: 25px;
   text-shadow: 0 4px 0 #333;
   color: #d2d2d2;
}



.footer {
   background-color: #e7e7e7;
}

.footer__row {
   height: 65px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer__text {
   font-size: 12px;
   letter-spacing: 0.3px;
   color: #445162;
}

.what {
   padding: 50px 0;
}


.what__row {
   display: flex;
}

.what__img {
   margin: 30px 0 0 0;
   flex: 0 0 430px;
}

.what__img img {
   max-width: 100%;
}

.what__body {
   flex: 1 1 auto;
   padding: 38px 0 0 0;
   transition-duration: 0.4s;
   transition-property: all;
}


.what__body1 {
   flex: 1 1 auto;
   padding: 68px 0 0 0;
   margin: 0 0 0 -115px;
}

.title {
   color: #445161;
   font-size: 30px;
}

.what__title {
   margin: -33px 0 33px 0;
   font-weight: 600;
}

.what__text {
   font-size: 26px;
   color: #333;
   line-height: 24px;
}

.what__text:hover {
   transition-duration: 0.4s;
   text-shadow: 0 0.6px 0 #333;
}

.what__text p {
   margin: 0 0 15px 0;
}

.colums {
   background-color: #e0e0e0;
   padding: 15px 0;
}


.colums__title {
   text-align: center;
   margin: 0 0 30px 0;
}

.colums__row {
   display: flex;
   flex-wrap: wrap;
   margin: 0px 8px;
}

.colums_colum {
   padding: 0 8px;
   flex: 0 1 50%;
   margin: 15px 0;
}

.colums_colum div:hover {
   transition-duration: 0.2s;
   text-shadow: 0 0.3px 0 #333;
}

.colums_item {
   display: block;
}

.item {
   display: block;
}

.item_row {
   display: flex;
}


.item__img {
   flex: 0 0 200px;
}

.item__body {
   flex: 1 1 auto;
   padding: 0 0 0 15px;
}

.item__title {
   color: #445161;
   font-size: 24px;
   margin: 0px 0px 15px 0px;
}

.item__text {
   color: #333333;
   font-size: 16px;
   line-height: 24px;
}

.vertical {
   background-color: #e0e0e0;
   padding: 50px 0;
}

.vertical__title {
   text-align: center;
   margin: 0 0 30px 0;
}

.vertical_body {
   max-width: 990px;
   margin: 0 auto;
}

.vertical__row {
   display: flex;
   margin: 0px -25px;
}

.vertical__column {
   flex: 0 1 33.333%;
   padding: 0px 22.5px;
   display: flex;
}

.vertical__item {
   background-color: #445162;
   color: #f5f5f5;
   border-radius: 5px;
   border: 1px solid #445162;
   padding: 0 0 20px 0;
   display: flex;
   flex-direction: column;
}

.vertical__subtitle {
   text-align: center;
   padding: 15px 0;
   font-size: 24px;
   text-transform: uppercase;
}

.vertical__label {
   text-align: center;
   background-color: #fff;
   padding: 12px 0;
   color: #445162;
   font-size: 40px;

}

.vertical__text {
   padding: 20px;
   font-size: 14px;
   line-height: 24px;
   flex: 1 1 auto;
}

.vertical__link {
   color: #445162;
   background-color: #f5f5f5;
   display: block;
   height: 40px;
   margin: 0 10px;
   line-height: 40px;
   text-align: center;
   border-radius: 5px;
   font-size: 18px;
}

.button {
   text-decoration: none;
   display: block;
   margin: 0 auto;
   text-align: center;
   line-height: 60px;
   padding: 0 60px;
   text-transform: uppercase;
   font-size: 18px;
   letter-spacing: 2px;
   border-radius: 10px;
   top: 0;
   position: relative;
   background-color: #5e5373;
   color: #fff;
   box-shadow: 0 5px 0 #3c354a;
}

.button1 {
   transition-duration: 1s, 0.5s;
   transition-property: background-color, top;
   transition-delay: 0.5s, 0s;
}

.button2 {
   transition-duration: 1s;
   transition-property: all;
   transition-delay: 0s;
   transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1)
}

.button3 {
   transition-duration: 0.5s;
   transition-property: all;
   transition-delay: 0s;
   transition-timing-function: cubic-bezier(0.75, -1, 0.21, -1);
}

.button:hover {
   background-color: #18b5a4;
   box-shadow: 0 3px 0 #3c354a;
   top: 3px;
}

.button3:hover {
   padding: 0px 50px;
}

.button2:hover {
   padding: 0px 50px;
}

/*QjmDdV@y6ReB3Y8*/